.PhoneInput, .PhoneInputCountry {
    display: flex;
}
.PhoneInputCountrySelect {
    position: absolute;
    width: 45px;
    background: transparent;
    border: none;
    color: transparent;
    cursor: pointer;
}

.PhoneInputCountryIconImg {
    width: 48px;
    padding: 1px 3px 0 1px;
}

.PhoneInputInput {
    outline: none;
    border-radius: 3px;
    border: none;
    /* padding: 10px 0; */
    font-size: 15px;
    height: 30px;
    min-width: calc(100% - 49px);
}